input {
    file {
        path => "/tmp/hou_100_done.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ['Time', 'Address', 'Type', 'unit_price', 'house_area', 'land_area', 
        'house_age', 'special', 'car_place', 'neighbor', 'mrt', 'floor', 'floor_sum', 'lat', 
        'long', 'vil', 'geo']
    }
    mutate {
        convert => {"lat" => "float"}
        convert => {"long" => "float"}
        rename => {"lat" => "[location][lat]"} 
        rename => {"long" => "[location][lon]"}
    }
}
output {
    elasticsearch {
        hosts => "0.0.0.0"
        index => "house"
        document_type => "hou_100"
    }
    stdout {}
}